
table{
    border: 2px solid black;
    margin: auto;
}
td, th{

    width: 300px;
    height: 300px;
    text-align: center;
    border: 1px solid black;
    empty-cells: show;
}

#reinicia{
    margin-left: 48.43%;
    margin-top: 2%;
}